

<h1>Current Player: {{ player }}</h1>


<button nbButton outline status="danger" (click)="newGame()">Start New Game</button>
<button style="margin-left: 358px;">Game History</button>
<h2 *ngIf="winner">
    Player {{ winner}} won the game!
</h2>
<main>
    <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">
    </app-square>
</main>
  


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'show-modal':switch}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         You won! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="switch = false">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- [1,2,3,4] -->
<!-- <div *ngFor="let num of [1,2,3,4]">
    {{num}}
</div> -->

<!-- ["John", "Amy"] -->